.wrapper
  position: absolute
  width: 400px
  height: 390px

  .player1Prompt, .player2Prompt
    width: 130px
    height: 40px
    background-color: rgba(0,0,0,0.5)
    text-align: center
    font-size: 1.1em
    font-family: Courgette
    padding-top: 10px
    color: yellow
  .player1Prompt

    margin-top: -20px
    margin-left: 10px
    float: left
  .player2Prompt

    margin-top: -20px
    margin-right: 10px
    float: right

.main-window
  width: 400px
  height: 390px
  background: rgba(255,255,255,1)
  border-radius: 10px
  box-shadow: inset -1px 1px 10px rgba(0,0,0,0.5), inset 1px -1px 10px rgba(0,0,0,0.5), 1px 10px 5px rgba(0,0,0,0.5), 4px 3px 8px rgba(0,0,0,0.5), 5px 10px 10px rgba(0,0,0,.2), -5px 10px 10px rgba(0,0,0,.4)
  padding: 40px 0 0
  position: relative
  .header
    position: absolute
    width: 400px
    height: 40px
    top: 0
    .player-1, .player-2, .computer, .resetAll
      //display: none
      font-family: Courgette
      font-weight: bold
    .player-1, .player-2, .computer
      margin-left: 30px
      margin-top: 5px
      float: left
      font-size: 0.85em
    .resetAll
      //display: none
      margin: 19px 25px
      float: right
      font-size: 1em
      border-radius: 10px
      cursor: pointer
      background: none
      border: 2px dashed transparent
      &:hover
        color: rgb(182, 0, 33)

.board-container
  width: 350px
  height: 350px
  margin-left: 25px
  position: absolute
  background: rgba(0,0,0,0.1) radial-gradient(center, rgba(0,0,0,0.6), rgba(0,0,0,0.9))
  color: white
  font-family: Courgette
  font-weight: bold
  //z-index: 10
  .game-options, .symbol-select, #canvas
    width: 350px
    height: 350px
    position: absolute

.game-options, .symbol-select
  //display: none
  color: white
  .prompt
    text-align: center
    margin: 100px 25px
    font-size: 1.4em
  .options
    //display: flex
    //justify-content: space-around
    display: inline-block
    font-size: 1em
    margin: auto
    color: rgb(1, 184, 190)
    .single-player, .two-player, .symbol-x, .symbol-O
      cursor: pointer
      &:hover
        color: rgb(0, 255, 247)
      //margin-bottom: 200px
    .symbol-x, .symbol-O
      font-size: 2.5em
    .single-player
      float: left
      margin-left: 60px
    .two-player
      float: right
      margin-left: 50px
    .symbol-x
      float: left
      margin-left: 125px
    .symbol-O
      float: right
      margin-left: 50px
  .go-back
    //display: none
    display: flex
    justify-content: center
    align-items: center
    width: 30px
    height: 30px
    border-radius: 50%
    cursor: pointer
    margin-left: 30px
    position: absolute
    border: 2px solid transparent
    .tri
      margin-right: 5px
      border-top: 10px solid transparent
      border-bottom: 10px solid transparent
      border-right: 10px solid white
    &:hover
      border: 2px solid white
      .tri
        border-right: 10px solid #05d2ff

.game-options
  display: none
  //z-index: 1
.symbol-select
  display: none
  //z-index: 2
#canvas
  //display: none
  //z-index: 3
.boxes
  display: flex
  //align-items: center
  //justify-content: center
  flex-flow: wrap
  //align-content: flex-end
  //padding: 0
  margin: 12px 12px
  width: 95%
  height: 95%
  position: absolute
  //z-index: 5
  @for $i from 1 to 10
    .box#{$i}
      //display: inline-block
      //position: absolute
      list-style: none
      text-align: center
      padding: 0
      margin: 0 5px 0 2px
      width: 31%
      height: 31%
      //background-color: grey
      background: rgba(159, 12, 12, 0)
      cursor: pointer
      font-size: 5em
      font-family: chalkboard

.player-2
  display: none
.computer
  //display: none

//Animate player move info

//Animation




//Messages
.win, .draw, .lose
  display: none
  width: 350px
  height: 350px
  background: black
  opacity: 0
  z-index: 9999
  position: absolute
  .message
    p
      text-align: center
      margin-top: 130px
      font-size: 2em
.warning
  background: rgba(159, 12, 12, 0)
  //animation: warning  1s linear running 3

@-webkit-key-frames warning
  0%
    background: rgba(159, 12, 12, 0)
  100%
    background: rgba(159, 12, 12, 1)
