.main-window
  width: 400px
  height: 390px
  background: rgba(255,255,255,0.8)
  border-radius: 10px
  box-shadow: inset -1px 1px 10px rgba(0,0,0,0.5), inset 1px -1px 10px rgba(0,0,0,0.5), 1px 10px 5px rgba(0,0,0,0.5), 4px 3px 8px rgba(0,0,0,0.5), 5px 10px 10px rgba(0,0,0,.2), -5px 10px 10px rgba(0,0,0,.4)
  padding: 40px 0 0
  position: relative
  .header
    position: absolute
    width: 400px
    height: 40px
    top: 0
    .player-1, .player-2, .computer, .resetAll
      //display: none
      font-family: Courgette
      font-weight: bold
    .player-1, .player-2, .computer
      margin-left: 30px
      margin-top: 5px
      float: left
      font-size: 0.85em

    .resetAll
      //display: none
      margin: 19px 25px
      float: right
      font-size: 1em
      border-radius: 10px
      cursor: pointer
      background: none
      border: 2px dashed transparent
      &:hover
        color: rgb(182, 0, 33)



.board-container
  width: 350px
  height: 350px
  margin-left: 25px
  position: absolute
  color: white
  font-family: Courgette
  font-weight: bold
.game-options, .symbol-select, #canvas
  width: 350px
  height: 350px
  position: absolute

.board-container
  background: rgba(0,0,0,0.1) radial-gradient(center, rgba(0,0,0,0.6), rgba(0,0,0,0.9))
  z-index: 9

.game-options, .symbol-select
  //display: none
  color: white
  z-index: 10
  .prompt
    text-align: center
    margin: 100px 25px
    font-size: 1.4em
  .options
    //display: flex
    //justify-content: space-around
    display: inline-block
    font-size: 1em
    margin: auto
    .single-player, .two-player, .symbol-x, .symbol-O
      cursor: pointer
      &:hover
        color: #05d2ff
      //margin-bottom: 200px
    .single-player
      float: left
      margin-left: 60px
    .two-player
      float: right
      margin-left: 50px
    .symbol-x
      float: left
      margin-left: 125px
    .symbol-O
      float: right
      margin-left: 50px
  .go-back
    display: flex
    justify-content: center
    align-items: center
    width: 30px
    height: 30px
    border-radius: 50%
    cursor: pointer
    margin-left: 30px
    border: 2px solid transparent
    &:hover
      border: 2px solid white
      .tri
        border-right: 10px solid #05d2ff
    .tri
      margin-right: 5px
      border-top: 10px solid transparent
      border-bottom: 10px solid transparent
      border-right: 10px solid white


.game-options
  display: none
.symbol-select
  display: none
  z-index: 2
  .symbol-x, .symbol-O
    font-size: 2.5em
#canvas
  //display: none
  z-index: 99

.player-2
  display: none
.computer
  //display: none

//Animate player move info
.player-1-move
.player-2-move
.computer-move

//Messages
.draw
.winner
.lost
