.main-window
  .header
    .player-1
      .score 4
      .player Player 1
    .player-2
      .score 0
      .player Player 2
    .computer
      .score 0
      .player Computer
    button.resetAll Reset
  .board-container
