.main-window
  .header
    .player-1
      .score 01
      .player Player 1
    .player-2
      .score 0
      .player Player 2
    .computer
      .score 0
      .player Computer
    .resetAll Reset
  .board-container
    .game-options
      p.prompt How would you like to play?
      .options
        p.single-player Single Player
        p.two-player Two Players
    .symbol-select
      p.prompt
      .options
        .symbol-x X
        .symbol-O O
      .go-back
        .tri
    canvas#canvas
    ul.boxes
      li.box
