.main-window
  .header
    .player-1
      .score 0
      .player Player 1
    .player-2
      .score 0
      .player Player 2
    .computer
      .score 0
      .player Computer
    .resetAll Reset
  .board-container
    .game-options
      p.prompt How would you like to play?
      .options
        p.single-player.gameMode Single Player
        p.two-player.gameMode Two Players
    .symbol-select
      p.prompt Would you like to be X or O?
      .options
        .symbol-x.symbol X
        .symbol-O.symbol O
      .go-back
        .tri
    canvas#canvas
    .boxes
