@import 'https://fonts.googleapis.com/css?family=Fira+Sans';
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url("https://fonts.googleapis.com/css?family=Courgette");
.main-window {
  width: 400px;
  height: 390px;
  background: rgba(255, 255, 255, 0.8);
  -webkit-border-radius: 10px;
          border-radius: 10px;
  -webkit-box-shadow: inset -1px 1px 10px rgba(0, 0, 0, 0.2), inset 1px -1px 10px rgba(0, 0, 0, 0.2), 1px 10px 5px rgba(0, 0, 0, 0.4), 4px 3px 8px rgba(0, 0, 0, 0.4), 5px 10px 10px rgba(0, 0, 0, 0.2), -5px 10px 10px rgba(0, 0, 0, 0.4);
          box-shadow: inset -1px 1px 10px rgba(0, 0, 0, 0.2), inset 1px -1px 10px rgba(0, 0, 0, 0.2), 1px 10px 5px rgba(0, 0, 0, 0.4), 4px 3px 8px rgba(0, 0, 0, 0.4), 5px 10px 10px rgba(0, 0, 0, 0.2), -5px 10px 10px rgba(0, 0, 0, 0.4);
  padding: 40px 0 0;
  position: relative; }
  .main-window .header {
    position: absolute;
    width: 400px;
    height: 40px;
    top: 0; }
    .main-window .header .player-1, .main-window .header .player-2, .main-window .header .computer, .main-window .header .resetAll {
      font-family: Courgette;
      font-weight: bold; }
    .main-window .header .player-1, .main-window .header .player-2, .main-window .header .computer {
      margin-left: 30px;
      margin-top: 5px;
      float: left;
      font-size: 0.85em; }
    .main-window .header .resetAll {
      margin: 12px 20px;
      float: right;
      font-size: 1em;
      -webkit-border-radius: 10px;
              border-radius: 10px;
      cursor: pointer;
      background: none;
      border: 2px dashed transparent; }
      .main-window .header .resetAll:hover {
        border: 2px dashed grey; }
      .main-window .header .resetAll:focus {
        outline: none; }
  .main-window .board-container {
    width: 350px;
    height: 350px;
    background: rgba(0, 0, 0, 0.5);
    margin: auto;
    background: rgba(0, 0, 0, 0.1) -webkit-radial-gradient(center, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9));
    background: rgba(0, 0, 0, 0.1) radial-gradient(center, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)); }

.player-2 {
  display: none; }

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-image: url(../images/maxresdefault.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

p {
  padding: 0;
  margin: 0; }

.main-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3); }
