@import 'https://fonts.googleapis.com/css?family=Fira+Sans';
@import url("https://fonts.googleapis.com/css?family=Courgette");
.wrapper {
  position: absolute;
  width: 400px;
  height: 390px; }
  .wrapper .player1Prompt, .wrapper .player2Prompt {
    width: 130px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
    font-size: 1.1em;
    font-family: Courgette;
    padding-top: 10px;
    color: yellow; }
  .wrapper .player1Prompt {
    margin-top: -20px;
    margin-left: 10px;
    float: left; }
  .wrapper .player2Prompt {
    margin-top: -20px;
    margin-right: 10px;
    float: right; }

.main-window {
  width: 400px;
  height: 390px;
  background: rgba(255, 255, 255, 0.9);
  -webkit-border-radius: 10px;
          border-radius: 10px;
  -webkit-box-shadow: inset -1px 1px 10px rgba(0, 0, 0, 0.5), inset 1px -1px 10px rgba(0, 0, 0, 0.5), 1px 10px 5px rgba(0, 0, 0, 0.5), 4px 3px 8px rgba(0, 0, 0, 0.5), 5px 10px 10px rgba(0, 0, 0, 0.2), -5px 10px 10px rgba(0, 0, 0, 0.4);
          box-shadow: inset -1px 1px 10px rgba(0, 0, 0, 0.5), inset 1px -1px 10px rgba(0, 0, 0, 0.5), 1px 10px 5px rgba(0, 0, 0, 0.5), 4px 3px 8px rgba(0, 0, 0, 0.5), 5px 10px 10px rgba(0, 0, 0, 0.2), -5px 10px 10px rgba(0, 0, 0, 0.4);
  padding: 40px 0 0;
  position: relative; }
  .main-window .header {
    position: absolute;
    width: 400px;
    height: 40px;
    top: 0; }
    .main-window .header .player-1, .main-window .header .player-2, .main-window .header .computer, .main-window .header .resetAll {
      font-family: Courgette;
      font-weight: bold; }
    .main-window .header .player-1, .main-window .header .player-2, .main-window .header .computer {
      margin-left: 30px;
      margin-top: 5px;
      float: left;
      font-size: 0.85em; }
    .main-window .header .resetAll {
      margin: 19px 25px;
      float: right;
      font-size: 1em;
      -webkit-border-radius: 10px;
              border-radius: 10px;
      cursor: pointer;
      background: none;
      border: 2px dashed transparent; }
      .main-window .header .resetAll:hover {
        color: #b60021; }

.board-container {
  width: 350px;
  height: 350px;
  margin-left: 25px;
  position: absolute;
  background: rgba(0, 0, 0, 0.1) -webkit-radial-gradient(center, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9));
  background: rgba(0, 0, 0, 0.1) radial-gradient(center, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9));
  color: white;
  font-family: Courgette;
  font-weight: bold; }
  .board-container .game-options, .board-container .symbol-select, .board-container #canvas {
    width: 350px;
    height: 350px;
    position: absolute; }

.game-options, .symbol-select {
  color: white; }
  .game-options .prompt, .symbol-select .prompt {
    text-align: center;
    margin: 100px 25px;
    font-size: 1.4em; }
  .game-options .options, .symbol-select .options {
    display: inline-block;
    font-size: 1em;
    margin: auto; }
    .game-options .options .single-player, .game-options .options .two-player, .game-options .options .symbol-x, .game-options .options .symbol-O, .symbol-select .options .single-player, .symbol-select .options .two-player, .symbol-select .options .symbol-x, .symbol-select .options .symbol-O {
      cursor: pointer; }
      .game-options .options .single-player:hover, .game-options .options .two-player:hover, .game-options .options .symbol-x:hover, .game-options .options .symbol-O:hover, .symbol-select .options .single-player:hover, .symbol-select .options .two-player:hover, .symbol-select .options .symbol-x:hover, .symbol-select .options .symbol-O:hover {
        color: #05d2ff; }
    .game-options .options .symbol-x, .game-options .options .symbol-O, .symbol-select .options .symbol-x, .symbol-select .options .symbol-O {
      font-size: 2.5em; }
    .game-options .options .single-player, .symbol-select .options .single-player {
      float: left;
      margin-left: 60px; }
    .game-options .options .two-player, .symbol-select .options .two-player {
      float: right;
      margin-left: 50px; }
    .game-options .options .symbol-x, .symbol-select .options .symbol-x {
      float: left;
      margin-left: 125px; }
    .game-options .options .symbol-O, .symbol-select .options .symbol-O {
      float: right;
      margin-left: 50px; }
  .game-options .go-back, .symbol-select .go-back {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    cursor: pointer;
    margin-left: 30px;
    position: absolute;
    border: 2px solid transparent; }
    .game-options .go-back .tri, .symbol-select .go-back .tri {
      margin-right: 5px;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-right: 10px solid white; }
    .game-options .go-back:hover, .symbol-select .go-back:hover {
      border: 2px solid white; }
      .game-options .go-back:hover .tri, .symbol-select .go-back:hover .tri {
        border-right: 10px solid #05d2ff; }

.game-options {
  display: none; }

.symbol-select {
  display: none; }

.boxes {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: wrap;
      -ms-flex-flow: wrap;
          flex-flow: wrap;
  margin: 12px 12px;
  width: 95%;
  height: 95%;
  position: absolute; }
  .boxes .box1 {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0 5px 0 2px;
    width: 31%;
    height: 31%;
    cursor: pointer;
    font-size: 5em;
    font-family: chalkboard; }
  .boxes .box2 {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0 5px 0 2px;
    width: 31%;
    height: 31%;
    cursor: pointer;
    font-size: 5em;
    font-family: chalkboard; }
  .boxes .box3 {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0 5px 0 2px;
    width: 31%;
    height: 31%;
    cursor: pointer;
    font-size: 5em;
    font-family: chalkboard; }
  .boxes .box4 {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0 5px 0 2px;
    width: 31%;
    height: 31%;
    cursor: pointer;
    font-size: 5em;
    font-family: chalkboard; }
  .boxes .box5 {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0 5px 0 2px;
    width: 31%;
    height: 31%;
    cursor: pointer;
    font-size: 5em;
    font-family: chalkboard; }
  .boxes .box6 {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0 5px 0 2px;
    width: 31%;
    height: 31%;
    cursor: pointer;
    font-size: 5em;
    font-family: chalkboard; }
  .boxes .box7 {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0 5px 0 2px;
    width: 31%;
    height: 31%;
    cursor: pointer;
    font-size: 5em;
    font-family: chalkboard; }
  .boxes .box8 {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0 5px 0 2px;
    width: 31%;
    height: 31%;
    cursor: pointer;
    font-size: 5em;
    font-family: chalkboard; }
  .boxes .box9 {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0 5px 0 2px;
    width: 31%;
    height: 31%;
    cursor: pointer;
    font-size: 5em;
    font-family: chalkboard; }

.computer {
  display: none; }

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-image: url(../images/bg-02.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

p {
  padding: 0;
  margin: 0; }

.main-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3); }
